<!--container start-->
    <div class="container">
        <!--portfolio start-->
        <div class="gallery-container">
            <ul id="filters" class="list-unstyled">
                <li><a href="#" data-filter="*"> All</a></li>
                <li><a href="#" data-filter=".design">Design</a></li>
                <li><a href="#" data-filter=".development">Development</a></li>
                <li><a href="#" data-filter=".frontend, .dashboard">Frontend</a></li>
                <li><a href="#" data-filter=".dashboard">Dashboard</a></li>
                <li><a href="#" data-filter=".flat:not(.development)">Flat</a></li>
            </ul>
            <div id="gallery" class="col-4">

                <div class="element design development item view view-tenth" data-zlname="reverse-effect">
                    <img src="{{asset('bundles/pfaensaobox/img/works/img1.jpg')}}" alt="" />
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/works/img1.jpg')}}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element frontend item view view-tenth" data-zlname="reverse-effect">
                    <img src="{{asset('bundles/pfaensaobox/img/works/img2.jpg')}}" alt="" />
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/works/img2.jpg')}}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element flat item view view-tenth" data-zlname="reverse-effect">
                    <img src="{{asset('bundles/pfaensaobox/img/works/img3.jpg')}}" alt="" />
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/works/img3.jpg')}}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element development flat item view view-tenth" data-zlname="reverse-effect">
                    <img src="{{asset('bundles/pfaensaobox/img/works/img4.jpg')}}" alt="" />
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/works/img4.jpg')}}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element design flat item view view-tenth" data-zlname="reverse-effect">
                    <img src="{{asset('bundles/pfaensaobox/img/works/img5.jpg')}}" alt="" />
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/works/img5.jpg')}}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element dashboard frontend inner-photography item view view-tenth" data-zlname="reverse-effect">
                    <img src="{{asset('bundles/pfaensaobox/img/works/img6.jpg')}}" alt="" />
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/works/img6.jpg')}}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element flat dashboard design item view view-tenth" data-zlname="reverse-effect">
                    <img src="{{asset('bundles/pfaensaobox/img/works/img7.jpg')}}" alt="" />
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/works/img7.jpg')}}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
                <div class="element design development item view view-tenth" data-zlname="reverse-effect">
                    <img src="{{asset('bundles/pfaensaobox/img/works/img1.jpg')}}" alt="" />
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/works/img1.jpg')}}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element design development item view view-tenth" data-zlname="reverse-effect">
                    <img src="{{asset('bundles/pfaensaobox/img/works/img1.jpg')}}" alt="" />
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/works/img1.jpg')}}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element frontend item view view-tenth" data-zlname="reverse-effect">
                    <img src="{{asset('bundles/pfaensaobox/img/works/img2.jpg')}}" alt="" />
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/works/img2.jpg')}}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element flat item view view-tenth" data-zlname="reverse-effect">
                    <img src="{{asset('bundles/pfaensaobox/img/works/img3.jpg')}}" alt="" />
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/works/img3.jpg')}}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="element development flat item view view-tenth" data-zlname="reverse-effect">
                    <img src="{{asset('bundles/pfaensaobox/img/works/img4.jpg')}}" alt="" />
                    <div class="mask">
                        <h2>Freshness </h2>
                        <a data-zl-popup="link" href="javascript:;">
                            <i class="fa fa-link"></i>
                        </a>
                        <a data-zl-popup="link2" class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/works/img4.jpg')}}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!--portfolio end-->
    </div>
    <!--container end-->