{% trans_default_domain 'FOSUserBundle' %}

<section id="main-content">
    <section class="wrapper">
        <section class="panel">
            <header class="panel-heading">
                Modification de Profil
            </header>
            <div class="panel-body">
                <div class=" form">
                    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST"
                          class="cmxform form-horizontal tasi-form">
                        {{ form_start(form, {'attr': {'class': 'cmxform form-horizontal tasi-form' }}) }}
                        {{ form_errors(form) }}
                        <div class="form-group ">
                            {{ form_label(form.username, "Votre Identifiant :", {'label_attr': {'class': 'control-label col-lg-2' }})
                            }}
                            <div class="col-lg-10">
                                {{ form_widget(form.username, {'attr': {'class': 'form-control valid' }}) }}
                                {{ form_errors(form.username,{'attr': {'class': 'btn btn-danger' }}) }}
                            </div>
                        </div>
                        <div class="form-group ">
                            {{ form_label(form.email, "Votre Em@il :", {'label_attr': {'class': 'control-label col-lg-2' }})
                            }}
                            <div class="col-lg-10">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control valid' }}) }}
                                {{ form_errors(form.email,{'attr': {'class': 'btn btn-danger' }}) }}
                            </div>
                        </div>
                        <div class="form-group ">
                            {{ form_label(form.nom, "Votre nom :", {'label_attr': {'class': 'control-label col-lg-2' }})
                            }}
                            <div class="col-lg-10">
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control valid' }}) }}
                                {{ form_errors(form.nom,{'attr': {'class': 'btn btn-danger' }}) }}
                            </div>
                        </div>

                        <div class="form-group ">
                            {{ form_label(form.prenom, "Votre prénom :", {'label_attr': {'class': 'control-label col-lg-2' }}
                            ) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.prenom, {'attr': {'class': 'form-control valid' }}) }}
                                {{ form_errors(form.prenom) }}
                            </div>
                        </div>

                        <div class="form-group ">
                            {{ form_label(form.dateNaissance, "Votre date de naissance :", {'label_attr': {'class': 'control-label col-lg-2' }}
                            ) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.dateNaissance, {'attr': {'class': 'form-control valid' }}) }}
                                {{ form_errors(form.dateNaissance) }}
                            </div>
                        </div>

                        <div class="form-group ">
                            {{ form_label(form.lienFacebook, "* Votre compte Facebook :", {'label_attr': {'class': 'control-label col-lg-2' }}
                            ) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.lienFacebook, {'attr': {'class': 'form-control valid' }}) }}
                                {{ form_errors(form.lienFacebook) }}
                            </div>
                        </div>

                        <div class="form-group ">
                            {{ form_label(form.lienLinkedin, "* Votre compte LinkedIn :", {'label_attr': {'class': 'control-label col-lg-2' }}
                            ) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.lienLinkedin, {'attr': {'class': 'form-control valid' }}) }}
                                {{ form_errors(form.lienLinkedin) }}
                            </div>
                        </div>

                        <div class="form-group ">
                            {{ form_label(form.aPropos, "* A propos de vous :", {'label_attr': {'class': 'control-label col-lg-2' }}
                            ) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.aPropos, {'attr': {'class': 'form-control valid' }}) }}
                                {{ form_errors(form.aPropos) }}
                            </div>
                        </div>

                        <div class="form-group ">
                            {{ form_label(form.profilePictureFile, "* Photo de Profil :", {'label_attr': {'class': 'control-label col-lg-2' }}
                            ) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.profilePictureFile, {'attr': {'class': 'form-control valid' }}) }}
                                {{ form_errors(form.profilePictureFile) }}
                            </div>
                        </div>

                        <b>* : Champs facultatifs</b>
                        <br>
                        <br>


                        <div class="form-group ">
                            <div class="col-lg-10">
                            <input type="submit" class="btn btn-danger" value="{{ 'Valider les modifications'|trans }}"/>
                            </div>
                        </div>

                        {{ form_rest(form) }}
                        {{ form_end(form) }}

                    </form>
                </div>
            </div>
        </section>
    </section>
</section>


