{% extends "PFAEnsaoboxBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}


{% block pfa_ensaoboxHeader %}
    {{ parent() }}
{% endblock %}

{% block pfa_ensaoboxMenu %}
    {{ parent() }}
{% endblock %}


  	{% block pfa_ensaoboxContainer %}
        <!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="col-md-6">
            <h3 class="text-center">Votre Profil : {{ user.username }} </h3>
            <table class="table table-inbox table-bordered" style="font-size: 16px">
            <tr>
                <td class="info"> Nom et Prénom :</td>
                <td class="text-center">{{ user.nom }} {{ user.prenom }}</td>
            </tr>
            <tr>
                <td class="danger"> Em@il :</td>
                <td class="text-center">{{ user.email }}</td>
            </tr>
            <tr>
                <td class="info"> Date de Naissance :</td>
                <td class="text-center"> à trouver solution </td>
            </tr>
            <tr>
                <td class="danger"> Niveau et Filière :</td>
                <td class="text-center">{{ user.niveau }} {{ user.filiere }} </td>
            </tr>
            <tr>
                <td class="warning"> Compte Facebook :</td>
                <td class="text-center"> <a href="{{ user.lienFacebook }}">{{ user.lienFacebook }}</a></td>
            </tr>
            <tr>
                <td class="warning"> Compte LinkedIn : </td>
                <td class="text-center"><a href="{{ user.lienLinkedin }}">{{ user.lienLinkedin }}</a></td>
            </tr>
            <tr>
                <td class="warning"> A Propos de Moi :</td>
                <td class="text-center">{{ user.aPropos}}</td>
            </tr>

        </table>
            <br>
            <a class="text-center" href="edit/{{ user.id }}">
                <span style="font-size: 20px; color: #d1282d"> Modifier votre Profil</span>
            </a>
        </div>
    </section>
</section>


    {% endblock %}
    {% block pfa_ensaoboxFooter %}

    {% endblock %}