<h3>Regarder utilisateur</h3>
<ul>

    <h2><a href="edit/{{ user.id }}">Editer votre profil</a></h2>

    <li>Nom : {{ user.username }}</li>
    <li>Email : {{ user.email }}</li>
    <li>Filière : {{ user.filiere }}</li>
    <li>Niveau :{{ user.niveau }}</li>
    <li><a href="{{ user.lienFacebook }}">Facebook</a></li>
    <li>à propos : {{ user.aPropos }}</li>



</ul>