{% extends "PFAEnsaoboxBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}


{% block pfa_ensaoboxHeader %}
    {{ parent() }}
{% endblock %}

{% block pfa_ensaoboxMenu %}
    {{ parent() }}
{% endblock %}


  	{% block pfa_ensaoboxContainer %}
        <!--main content start-->
<section id="main-content" xmlns="http://www.w3.org/1999/html">
    <section class="wrapper">

        <aside class="profile-nav alt blue-border">
        <section class="panel">
            <div class="twt-feed blue-bg">
            <p></p><h2>{{ user.username }}</h2></p>
                <p><h1>{{ user.email }}</h1></p>
                <br>
                <button type="button" class="btn btn-shadow btn-success" onclick="location.href='edit/{{ user.id }}'">Modifier Profil</button>
                <button type="button" class="btn btn-shadow btn-danger" onclick="location.href='{{ path("fos_user_resetting_request") }}'">Modifier Mot De Passe</button>
        </div>

        <ul class="nav nav-pills nav-stacked">
            <li><a href="javascript:;"> <i class="fa fa-user"></i> Nom et prénom : {{ user.nom }} {{ user.prenom }} </a></li>
            <li><a href="javascript:;"> <i class="fa fa-arrow-up"></i> Niveau : {{ user.niveau }} </a></li>
            <li><a href="javascript:;"> <i class="fa fa-hand-o-right"></i> Filière : {{ user.filiere }} </a></li>
            <li><a href="javascript:;"> <i class="fa fa-calendar"></i> Date de Naissance : {{ user.dateNaissance|date('Y-m-d') }} </a></li>
            <li><a href="javascript:;"> <i class="fa fa-facebook"></i> Profil Facebook : {{ user.lienFacebook }} </a></li>
            <li><a href="javascript:;"> <i class="fa fa-linkedin"></i> Compte LinkedIn : {{ user.lienLinkedin }} </a></li>
            <li><a href="javascript:;"> <i class="fa fa-pencil"></i> A propos de moi : {{ user.aPropos}} </a></li>

        </ul>
        </section>
        </aside>
    </section>
</section>


    {% endblock %}
    {% block pfa_ensaoboxFooter %}

    {% endblock %}
