{# src/ENSAO/EnsaoboxBundle/Resources/views/showFiles/index.html.twig #}

{% extends "PFAEnsaoboxBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}


		{% block pfa_ensaoboxHeader %}
            {{ parent() }}
        {% endblock %}
    {% block pfa_ensaoboxMenu %}
        {{ parent() }}
    {% endblock %}
  	{% block pfa_ensaoboxContainer %}
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!-- page start-->
                <div class="row">
                    <div class="col-md-3">
                        <section class="panel">
                            <div class="panel-body">
                                {#<input type="text" placeholder="Chercher un cours" class="form-control">#}
                                <form id="recherche_form" role="form" action="{{ path('pfa_ensaobox_recherche') }}" method="get">`
                                    <div class="form-group col-md-8">
                                        <input type="text" placeholder="Chercher un cours" name="cours" class="form-control">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </section>

                        <section class="panel">
                            <header class="panel-heading">
                                Les cours
                            </header>
                            {#{% for d in documentPartage   %}#}
                            {#<tr>#}
                            {#<td>{{ d.matieres.nomMatiere }}</td>#}
                            {#&#123;&#35;<td><a href="{{ asset('uploads/documents/'~d.filieres.nomFiliere~'/'~d.classes.nomClasse~'/'~userNameSession~'/'~d.matieres.nomMatiere~'/'~d.path) }}">{{ d.path }}</a></td>&#35;&#125;#}
                            {#</tr>#}
                            {#{% endfor %}#}
                            <div class="panel-body">
                                <ul class="nav prod-cat">
                                    <li><a href="{{ path('pfa_ensaobox_afficher_files') }}" ><i>=</i><i class=" fa fa-angle-right"></i>TOUS LES COURS</a></li>
                                    {% for d in matiere %}
                                        <li><a href={{d|url_encode}}><i>=</i><i class=" fa fa-angle-right"></i>{{ d }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-9">
                        <section class="panel">
                            <div class="panel-body">
                                <div class="pro-sort col-md-4">
                                    {#<label class="pro-lab">Afficher</label>#}
                                    <select class="form-control">
                                        <option>COURS</option>
                                        <option>TD</option>
                                        <option>TP</option>
                                    </select>
                                </div>
                                <div class="pull-right">
                                    {#<ul class="pagination pagination-sm pro-page-list">#}
                                    {#<li><a href="#">1</a></li>#}
                                    {#<li><a href="#">2</a></li>#}
                                    {#<li><a href="#">3</a></li>#}
                                    {#<li><a href="#">4</a></li>#}
                                    {#<li><a href="#">5</a></li>#}
                                    {#<li><a href="#">»</a></li>#}
                                    {#</ul>#}
                                    {% if current_page is defined and total_pages is defined%}
                                        <ul class="pagination pagination-sm pro-page-list">
                                            {% for i in range(max(current_page-4, 1),min(current_page+4, total_pages)) %}
                                                {#{%for i in 1..current_page-4%}#}
                                                {%if loop.first %}
                                                    <li class="prev {%if current_page==1%} disabled{%endif%}"><a href="{{path('pfa_ensaobox_afficher_files',{'page':current_page-1})}}">← Page Précédent</a></li>
                                                {%endif%}
                                                {#<li {%if current_page==loop.index%} class="active"{%endif%}><a href="{{path('pfa_ensaobox_afficher_files',{'page':loop.index})}}">{{loop.index}}</a></li>#}

                                                {%if loop.last %}
                                                    <li class="next{%if current_page==total_pages%} disabled {%endif%}"><a href="{{path('pfa_ensaobox_afficher_files',{'page':current_page+1})}}">Page Suivante → </a></li>
                                                {%endif%}
                                            {%endfor%}
                                        </ul>
                                    {% endif %}
                                </div>

                            </div>
                        </section>

                        <div class="row product-list">
                            {% for cours in documentPartage %}
                                <div class="col-md-3">
                                    <section class="panel">
                                        <div class="pro-img-box">
                                            <img src="{{ asset('bundles/pfaensaobox/img/product-list/pro4.jpg') }}"
                                                 alt=""/>
                                            <a href="#" class="adtocart">
                                                <i class="glyphicon glyphicon-hand-down"></i>
                                            </a>
                                        </div>

                                        <div class="panel-body text-center">
                                            <h4>
                                                    <a class="pro-title" style="font-size: 12px; height: 35px" href="{{ asset('uploads/documents/'~cours.filieres.nomFiliere~'/'~cours.classes.nomClasse~'/'~cours.professeur~'/'~cours.matieres.nomMatiere~'/'~cours.path) }}">
                                                        {{ cours.path }}
                                                    </a>
                                            </h4>
                                        </div>
                                    </section>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- page end-->
                    </div>
                </div>
            </section>
        </section>
    {% endblock %}
    {% block pfa_ensaoboxFooter %}

    {% endblock %}
        