{% trans_default_domain 'FOSUserBundle' %}

<section id="main-content">
    <section class="wrapper">
        <section class="panel">
            <header class="panel-heading">
                Changement de mot de passe :
            </header>
            <div class="panel-body">
                <div class=" form">
                    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"
                          class="cmxform form-horizontal tasi-form">

                        {{ form_start(form, {'attr': {'class': 'cmxform form-horizontal tasi-form' }}) }}
                        {{ form_errors(form) }}
                        <div class="form-group ">
                            {{ form_label(form.current_password, "Votre mot de passe Actuel :", {'label_attr': {'class': 'control-label col-lg-2' }}
                            ) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.current_password, {'attr': {'class': 'form-control valid' }}) }}
                                {{ form_errors(form.current_password,{'attr': {'class': 'btn btn-danger' }}) }}
                            </div>
                        </div>

                        <div class="form-group ">
                            {{ form_label(form.plainPassword.first, "Votre nouveau mot de passe :", {'label_attr': {'class': 'control-label col-lg-2' }}
                            ) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control valid' }}) }}
                                {{ form_errors(form.plainPassword.first,{'attr': {'class': 'btn btn-danger' }}) }}
                            </div>
                        </div>

                        <div class="form-group ">
                            {{ form_label(form.plainPassword.second, "Confirmer votre nouveau mot de passe :", {'label_attr': {'class': 'control-label col-lg-2' }}
                            ) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control valid' }}) }}
                                {{ form_errors(form.plainPassword.second,{'attr': {'class': 'btn btn-danger' }}) }}
                            </div>
                        </div>


                        <div class="form-group ">
                            <div class="col-lg-10">
                                <input type="submit" class="btn btn-danger" value="{{ 'Changer mot de passe '|trans }}"/>
                            </div>
                        </div>


                        {{ form_rest(form) }}
                        {{ form_end(form) }}

                    </form>
                </div>
            </div>
        </section>
    </section>
</section>