{# src/ENSAO/EnsaoboxBundle/Resources/views/addFiles/index.html.twig #}

{% extends "PFAEnsaoboxBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}


		{% block pfa_ensaoboxHeader %}
           	{{ parent() }}
    {% endblock %}
    {% block pfa_ensaoboxMenu %}
           {{ parent() }}
    {% endblock %}
  	{% block pfa_ensaoboxContainer %}
        <!--main content start-->
        <section id="main-content">
          <section class="wrapper">
              <h1 class="text-center">Upload File</h1>
              <div>
              <div class="col-md-6">
                  <div class="text-center"><h2 class="alert-danger">{{ error }}</h2></div>
                <table class="table table-inbox table-bordered">
                {{ form_start(formDoc) }}
                    <tr>
                        <td>{{ form_label(formDoc.filieres) }}</td>
                        <td>{{ form_widget(formDoc.filieres) }}</td>
                        <td>{{ form_errors(formDoc.filieres) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(formDoc.classes) }}</td>
                        <td>{{ form_widget(formDoc.classes) }}</td>
                        <td>{{ form_errors(formDoc.classes) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(formDoc.matieres) }}</td>
                        <td>{{ form_widget(formDoc.matieres) }}</td>
                        <td>{{ form_errors(formDoc.matieres) }}</td>
                    </tr>
                    <tr>
                        {{ form_start(formFiliere) }}
                        <td>{{ form_label(formFiliere.nomFiliere) }}</td>
                        <td>{{ form_widget(formFiliere.nomFiliere) }}</td>
                        <td>{{ form_errors(formFiliere.nomFiliere) }}</td>
                        {{ form_end(formFiliere) }}
                    </tr>
                    <tr>
                        <td>{{ form_label(formDoc.file) }}</td>
                        <td style="font-size: 25px;" class="fileupload">{{ form_widget(formDoc.file) }}</td>
                        <td>{{ form_errors(formDoc.file) }}</td>
                    </tr>
                    {#<tr>#}
                        {#<td>{{ form_label(form.envoyer) }}</td>#}
                        <td></td>
                        <td >{{ form_widget(formDoc.envoyer) }}</td>
                        <td></td>
                        {#<td>{{ form_errors(form.envoyer) }}</td>#}
                    {#</tr>#}
                </table>

              {{ form_end(formDoc) }}


              </div>
              <div class="col-md-6">
              <table class="table table-inbox table-bordered" >
                  <thead>
                    <th>filiere</th>
                    <th>Classe</th>
                    <th>Matiere</th>
                    <th>Cours</th>
                    {#<th>path</th>#}
                  </thead>
                  {% for d in doc  %}
                      <tr {% if d.filieres.nomFiliere=="Genie indus" %} class="info" {% elseif d.filieres.nomFiliere=="CP" %} class="success" {% elseif d.filieres.nomFiliere=="genie EII" %} class="warning" {% elseif d.filieres.nomFiliere=="Genie reseau et telecom" %} class="active" {% elseif d.filieres.nomFiliere=="Genie informatique" %} class="danger" {% endif %}>
                          <td>{{ d.filieres.nomFiliere }}</td>
                          <td>{{ d.classes.nomClasse }}</td>
                          <td>{{ d.matieres.nomMatiere }}</td>
                          <td><a href="{{ asset('uploads/documents/'~d.path) }}">{{ d.path }}</a></td>
                          {#<td>{{ d.path }}</td>#}
                      </tr>

                  {% endfor %}
              </table>
                  {#<form action="#" method="post" {{ form_enctype(form) }}>#}
                      {#{{ form_widget(form) }}#}
                      {#<input type="submit" value="Upload Document" />#}
                  {#</form>#}

              </div>
              </div>
          </section>
        </section>
    {% endblock %}
    {% block pfa_ensaoboxFooter %}
            
    {% endblock %}
        