<!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!-- page start-->
              <section class="panel">
                  <header class="panel-heading">
                      Les derniers cours partagés
                  </header>
                  <div class="panel-body">
                      <ul class="grid cs-style-3">
                          <li>
                              <figure>
                                  <img src="{{asset('bundles/pfaensaobox/img/gallery/4.jpg')}}" alt="img04">
                                  <figcaption>
                                      <h3>Mindblowing</h3>
                                      <span>lorem ipsume </span>
                                      <a class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/gallery/4.jpg')}}">Take a look</a>
                                  </figcaption>
                              </figure>
                          </li>
                          <li>
                              <figure>
                                  <img src="{{asset('bundles/pfaensaobox/img/gallery/1.jpg')}}" alt="img01">
                                  <figcaption>
                                      <h3>Clean & Fresh</h3>
                                      <span>dolor ament</span>
                                      <a class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/gallery/1.jpg')}}">Take a look</a>
                                  </figcaption>
                              </figure>
                          </li>
                          <li>
                              <figure>
                                  <img src="{{asset('bundles/pfaensaobox/img/gallery/2.jpg')}}" alt="img02">
                                  <figcaption>
                                      <h3>Flat Concept</h3>
                                      <span>tawseef tasi</span>
                                      <a class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/gallery/2.jpg')}}">Take a look</a>
                                  </figcaption>
                              </figure>
                          </li>
                          <li>
                              <figure>
                                  <img src="{{asset('bundles/pfaensaobox/img/gallery/5.jpg')}}" alt="img05">
                                  <figcaption>
                                      <h3>Modern</h3>
                                      <span>dkmosa inc</span>
                                      <a class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/gallery/5.jpg')}}">Take a look</a>
                                  </figcaption>
                              </figure>
                          </li>
                          <li>
                              <figure>
                                  <img src="{{asset('bundles/pfaensaobox/img/gallery/3.jpg')}}" alt="img03">
                                  <figcaption>
                                      <h3>Clean Code</h3>
                                      <span>nice concept</span>
                                      <a class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/gallery/3.jpg')}}">Take a look</a>
                                  </figcaption>
                              </figure>
                          </li>
                          <li>
                              <figure>
                                  <img src="{{asset('bundles/pfaensaobox/img/gallery/6.jpg')}}" alt="img06">
                                  <figcaption>
                                      <h3>Cheers</h3>
                                      <span>sumon ahmed</span>
                                      <a class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/gallery/6.jpg')}}">Take a look</a>
                                  </figcaption>
                              </figure>
                          </li>
                          <li>
                              <figure>
                                  <img src="{{asset('bundles/pfaensaobox/img/gallery/4.jpg')}}" alt="img04">
                                  <figcaption>
                                      <h3>Freshness</h3>
                                      <span>rerum facilis </span>
                                      <a class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/gallery/4.jpg')}}">Take a look</a>
                                  </figcaption>
                              </figure>
                          </li>
                          <li>
                              <figure>
                                  <img src="{{asset('bundles/pfaensaobox/img/gallery/1.jpg')}}" alt="img01">
                                  <figcaption>
                                      <h3>Awesome</h3>
                                      <span>At vero eos</span>
                                      <a class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/gallery/1.jpg')}}">Take a look</a>
                                  </figcaption>
                              </figure>
                          </li>
                          <li>
                              <figure>
                                  <img src="{{asset('bundles/pfaensaobox/img/gallery/2.jpg')}}" alt="img02">
                                  <figcaption>
                                      <h3>Music</h3>
                                      <span>atque corrupti </span>
                                      <a class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/gallery/2.jpg')}}">Take a look</a>
                                  </figcaption>
                              </figure>
                          </li>
                          <li>
                              <figure>
                                  <img src="{{asset('bundles/pfaensaobox/img/gallery/3.jpg')}}" alt="img03">
                                  <figcaption>
                                      <h3>Clean Code</h3>
                                      <span>nice concept</span>
                                      <a class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/gallery/3.jpg')}}">Take a look</a>
                                  </figcaption>
                              </figure>
                          </li>
                          <li>
                              <figure>
                                  <img src="{{asset('bundles/pfaensaobox/img/gallery/6.jpg')}}" alt="img06">
                                  <figcaption>
                                      <h3>Cheers</h3>
                                      <span>sumon ahmed</span>
                                      <a class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/gallery/6.jpg')}}">Take a look</a>
                                  </figcaption>
                              </figure>
                          </li>
                          <li>
                              <figure>
                                  <img src="{{asset('bundles/pfaensaobox/img/gallery/4.jpg')}}" alt="img04">
                                  <figcaption>
                                      <h3>Freshness</h3>
                                      <span>rerum facilis </span>
                                      <a class="fancybox" rel="group" href="{{asset('bundles/pfaensaobox/img/gallery/4.jpg')}}">Take a look</a>
                                  </figcaption>
                              </figure>
                          </li>
                      </ul>

                  </div>
              </section>

              <!-- page end-->
          </section>
      </section>
      <!--main content end-->